/*
!wp-content/
.*
!.gitignore
!.editorconfig
!readme.md
!package.json
!*.lock
!gulpfile.js
~*

ehthumbs.db
Thumbs.db

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

wp-content/themes/twenty*/
wp-content/themes/artbysusanna/style.css
wp-content/themes/artbysusanna/scripts*.js
node_modules/
