@mixin apply-header-styles() {
    .header-main {
        position: fixed;
        width: 100%;

        .header-bar {
            @include top-bar-container();
        }

        .nav-menu-mobile {
            @include off-canvas-base;
            @include off-canvas-position(right, horizontal);
            @include hide-for('large');
        }
        .menu-icon {
            @include hide-for('large');
        }

        .nav-menu-desktop {
            @include show-for('large');
        }

        .header-logo {
            .custom-logo {
                max-height: rem-calc(40);
            }
        }
    }
}
