@mixin header-open-styles() {
    &.menu-open {
        right: 0;
        .menu-toggle {
            .icon-toggle {
                &:before {
                    @include ionicons-icon('.ion-md-close');
                }
            }
        }
    }
}

@mixin header-styles() {
    .header-main {
        position: fixed;
        width: 100%;

        .nav-menu-mobile {
            @include off-canvas-base;
            @include off-canvas-position(right, horizontal);
            @include hide-for('large');
        }
        .menu-icon {
            @include hide-for('large');
        }
    }
}
