@mixin header-open-styles() {
    &.menu-open {
        right: 0;
        .menu-toggle {
            .icon-toggle {
                &:before {
                    @include ionicons-icon('.ion-md-close')
                }
            }
        }
    }
}

@mixin header-styles() {
    .main-header {
        position: fixed;
    }
    .header-nav-container {
        position: absolute;
        top: 0;
        right: 100%;
        @include header-open-styles();
        .menu-toggle {
            .icon-toggle {
                &:before {
                    @include ionicons-icon('.ion-md-menu');
                }
            }
        }
    }
}
