/* General */
$breakpoints: (
        small: 320px,
        medium: 600px,
        large: 900px,
        xlarge: 1200px,
        xxlarge: 1500px
    )
    !default;
/* Color Palette */
$foundation-palette: (
    primary: #1779ba,
    secondary: #767676,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37
);
